body {
    background-color: #05162f;
}

.container {
    margin-top: 5rem;
}

h1.text-danger {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.25rem;
    color: #666;
}

.btn-primary {
    margin-right: 1rem;
}
